<li class="gift <%= 'bought' if gift.bought? %>" id="gift_<%= gift.id %>"
	onmouseover="$(this).select('span.gift_controls').each(function(e){e.show()})" 
	onmouseout="$(this).select('span.gift_controls').each(function(e){e.hide()})">
	<%=h gift.name %>
	<span class="gift_controls" style="display: none">
		<%= link_to_remote 'delete', :url => gift_url(person, gift), :method => 'delete', 
			:confirm => 'Forget this item?', :success => "$('gift_#{gift.id}').fade()" %>
		<%= link_to (gift.bought? ? 'un-buy' : 'bought it!'), buy_gift_url(person, gift), :method => 'put' %>
	</span>
</li>