<li class="person" onmouseover="$(this).select('span.person_controls').each(function(e){e.show()})" 
onmouseout="$(this).select('span.person_controls').each(function(e){e.hide()})">

	<h2><%=h person.name %></h2>

	<span class="person_controls" style="display: none">
		<%= link_to 'delete', person_url(person), 
		:method => 'delete', 
		:confirm => "Really remove #{person.name}?" %>
	</span>

	<ul class="gifts" id="gifts_for_<%= person.id %>">

		<% unless person.gifts.empty? %>
		<% person.gifts.each do |gift| %>
		<%= render :partial => 'gift', :locals => {:gift => gift, :person => person} %>
		<% end %>
		<% else %>
		<li class="gift unknown">You don't know what to get <%=h person.name %> yet...</li>
		<% end %>
	</ul>
	<br />

	<ul class="gifts controls">
		<li id="new_gift_link_for_<%= person.id %>">
			<%= link_to_function "New gift", "toggle_new_gift(#{person.id})", :class => 'button' %>
		</li>
		<li class="new_gift" id="new_gift_for_<%= person.id %>" style="display: none;">
			<%= render :partial => 'gifts/new', :locals => {:person => person} %>
		</li>

	</ul>
	<br />
	<br />
</li>